<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kr.golfproject.mapper.tbl_memberMapper">
    <!-- 회원가입 -->
    <insert id = "tbl_member_Join" parameterType="kr.golfproject.domain.tbl_member">
        insert into tbl_member(m_pwd, m_name, m_phone, m_id, m_gender, m_birthdate, iron_distance, driver_distance, m_score) values(#{m_pwd}, #{m_name}, #{m_phone}, #{m_id}, #{m_gender}, #{m_birthdate}, #{iron_distance}, #{driver_distance}, #{m_score})
    </insert>
    
    <!-- 로그인 전 아이디 판별 -->
    <select id = "member_submit_ID" resultType= "String" parameterType="String" >
        select m_name from tbl_member where m_id = #{m_id}
    </select>
    
    <!-- 로그인 -->
    <select id = "Login" resultType="kr.golfproject.domain.tbl_member" parameterType="kr.golfproject.domain.tbl_member">
        select * from tbl_member where m_id = #{m_id} and m_pwd = #{m_pwd}
    </select>
    
    <!-- 최신의 tbl_upload vo와 데이터 세션에 저장 -->
    <select id="IRU" resultType="kr.golfproject.domain.tbl_upload" parameterType="kr.golfproject.domain.tbl_upload">
        select * from tbl_upload where m_idx = #{m_idx} order by upload_seq desc LIMIT 1
    </select>
    
    <!-- 해당 딥러닝결과의 스윙교정텍스트 출력 -->
    <select id="loadswing" resultType="kr.golfproject.domain.tbl_swing" parameterType="kr.golfproject.domain.tbl_swing">
        select * from tbl_swing where deep_seq = #{deep_seq} and swing_type = #{swing_type}
    </select>
    
    <!-- 최근에 딥러닝한 결과 출력 -->
    <select id="loaddeep" resultType="kr.golfproject.domain.tbl_deeplearning" parameterType="kr.golfproject.domain.tbl_deeplearning">
        select * from tbl_deeplearning where upload_seq = #{upload_seq} order by deep_seq desc LIMIT 1
    </select>
    
    <!-- 스켈레톤 vo 출력 -->
    <select id="loadskeleton" resultType="kr.golfproject.domain.tbl_skeleton_video" parameterType="kr.golfproject.domain.tbl_skeleton_video">
        select * from tbl_skeleton_video where m_idx = #{m_idx} and upload_seq = #{upload_seq}
    </select>
    
    <!-- 업로드 영상 목록 출력 -->
    <select id="loaduploadlist" resultType="kr.golfproject.domain.tbl_upload" parameterType="int">
        select * from tbl_upload where m_idx = #{m_idx} order by upload_seq desc
    </select>
    
    <select id="selectOneUpload" resultType="kr.golfproject.domain.tbl_upload" parameterType="int">
        select * from tbl_upload where upload_seq = #{upload_seq}
    </select>
    
</mapper>